* {font-family: Lato, Arial, sans-serif;}

h1, h4 {font-family: 'Patua One';}

h1 {
  font-size: 24px;
  padding-left: 4px;
  border-left: 8px solid #0C4FA0;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 32px;
  padding-left: 4px;
}

.mainText {
  font-family: Lato;
  font-size: 18px;
}

.reference {
  font-family: Lato;
  font-size: small;
  font-weight: bold;
}

.tag {
  font-size: 10px;
  background: lightgrey;
  border: 2px solid grey;
  border-radius: 3px;
  border-style: groove;
  padding: 3px;
  cursor: pointer;
}

.tag:hover {background: grey;}

i {cursor: pointer;}

.indent1 {
  margin-left: 3px;
  padding-left: 5px;
  border-left: 5px solid #2B80C3;
  background-color: white;
}

.indent2 {
  padding-left: 4px;
  border-left: 6px solid #65CBE4;
}

#pageTop {
  background-color: #0C4FA0;
  color: white;
}

#fixedDiv {
  position: fixed;
  bottom: 20px;
  right: 7.5%;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: lightgrey;
}

#fixedSection {
  background-color: black;
  opacity: .6;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

#searchBox {
  position: fixed;
  bottom: 70px;
  right: 7.5%;
  z-index: 1;
  display: none;
}

input[type=text] {
  width: 100px;
  transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
  width: 250px;
}

.fixedToolTip {
  position: fixed;
  bottom: 70px;
  right: 7.5%;
  z-index: 1;
  border: 3px solid black;
  border-radius: 4px;
  overflow: auto;
}

#tagUL {
  top: -50px;
  border-radius: 4px;
  border: 3px solid black;
  opacity: .95;
  font-size: 12px;
}

#tagsListed {
  padding: none;
  font-size: 12px;
}

.clickable {
  background-color: #0C4FA0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.clickable:hover {
  color: white;
  cursor: pointer;
}

#searchText {
  padding-left: 20px;
}

#searchBtn {
  color: black;
  padding-left: 4px;
}

#searchX {
  color: black;
  padding-right: 4px;
}

#searchX:hover {
  cursor: pointer;
  color: grey;
}

#myLayout {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

#mainContent:last-child {
  padding-bottom: 112px;
}

@media only screen and (max-width: 1200px) {
    #myLayout {
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
}

@media only screen and (max-width: 600px) {
  h1 {font-size: 20px;}
  h2 {font-size: 18px;}
  h3 {font-size: 16px;}
  h4 {font-size: 22px;}
  p {font-size: 14px;}

  #myLayout {
	  margin-left: 0%;
	  margin-right: 0%;
    border-right: none;
  }

  #fixedDiv {
    left: 5px;
    bottom: 10px;
    text-align: center;
    font-size: 24px;
    width: 100%;
  }

  #fixedSection {
    position: fixed;
    bottom: 60px;
    left: 0px;
    z-index: 1;
    width: 100%;
  }

  #searchBox {
    font-size: 16px;
    bottom: 60px;
    right: 0px;
    width: 100%;
  }

  input[type=text] {
    width: 100%;    
  }

  input[type=text]:focus {
    width: 100%;
  }

  .fixedToolTip {
    left: 0px;
    width: 100%;
    font-size: 16px;
  }
}